.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs_item {
    padding: 10px;
}

.dialog a {
    color: white;
    text-decoration: none;
}

.dialogs_item .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;
}